# .github/workflows/new_etl_pipeline.yml

name: Table Tracking

on:
  # Trigger the workflow on pushes to the 'main' branch (for testing/initial setup)
  push:
    branches:
      - main
    paths:
      - "table_tracking.py"
      - ".github/workflows/update_table_log.yml" # Rerun if workflow itself changes

  # Trigger the workflow on a schedule (e.g., daily at 02:00 UTC)
  # schedule:
  # Uses cron syntax. Learn more: https://crontab.guru/
  # new time of 2:52pm NYC time (1840 UTC) - 1440 + 4h offset
  # - cron: "52 18 * * *"
  # test time of 130am NYC time (530 UTC) - 0130 + 4h offest
  # - cron: "30 5 * * *"

  # test time of 640am NYC time (1040 UTC) - 0640 + 4h offest
  # - cron: "40 10 * * *"
  # test time of 310am NYC time (0710 UTC) - 0310 + 4h offest
  # - cron: "10 7 * * 4"
  # - cron: "0 0 * * 0"  # Runs every Sunday at midnight UTC # Google Search (can you make a yaml file run a job monthly?)
jobs:
  log_existing_tables:
    runs-on: ubuntu-latest # Use a fresh Ubuntu runner for each job

    # Set environment variables from GitHub Secrets
    env:
      NEON_DB_HOST: ${{ secrets.NEON_DB_HOST }}
      NEON_DB_NAME: ${{ secrets.NEON_DB_NAME }}
      NEON_DB_USER: ${{ secrets.NEON_DB_USER }}
      NEON_DB_PASSWORD: ${{ secrets.NEON_DB_PASSWORD }}
      NEON_DB_PORT: ${{ secrets.NEON_DB_PORT }}
      GOOGLE_VM_DOCKER_HOSTED_SQL: ${{ secrets.GOOGLE_VM_DOCKER_HOSTED_SQL }}
      DIGITAL_OCEAN_VM_DOCKER_HOSTED_SQL_ALT: ${{ secrets.DIGITAL_OCEAN_VM_DOCKER_HOSTED_SQL_ALT }}
      DIG_OCEAN_DROPLET_DOCKER_PSQL: ${{ secrets.DIG_OCEAN_DROPLET_DOCKER_PSQL }}
      IBM_DOCKER_PSQL_MONARCH: ${{ secrets.IBM_DOCKER_PSQL_MONARCH }}
      XATA_DB_MONARCH: ${{ secrets.XATA_DB_MONARCH }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Action to check out your repository code

      - name: Set up Python
        uses: actions/setup-python@v5 # Action to set up Python environment
        with:
          python-version: "3.9" # Specify your Python version (e.g., 3.8, 3.9, 3.10)

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Clean up old log file
        run: rm -f etl_output.log # Deletes the log file if it exists

      - name: Run Table Logging Script
        id: run_table_log_script
        run: python table_tracking.py 2>&1 | tee etl_output.log
